/*
panther blue 081E3F
panther gold B6862C
tresury gold f9c93a
*/
  ul.nav-tabs {
		text-align:center;
	}
	.nav-tabs> li {
		float: none;
	}
	.nav-tabs> li> a {
		border-radius: 0;
	}
	body {
		background-color: #081E3F;
		border-top: 7px solid #f9c93a;
	}

	.nav-tabs {
    border-bottom: none;
  }

	.logo-text {
		left: 165px;
		position: absolute;
		top: 29px;
		color: #fff;
		font-size: 19px;
		line-height: 26px;
	}

	.logo-text strong {
		font-size: 25px;
	}

	.disabled {
		pointer-events: none;
		cursor: not-allowed;
		opacity: .65;
	}

	.bio img {
		margin-right: 1em;
		margin-bottom: 1em;
		float: left;
	}

	.bio {
		clear: both;
	}

	thead {
		border-top: 1px solid #EDEDED;
	}

	table {
		line-height: 1.5em;
		border-bottom: 1px solid #EDEDED;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.container {
		margin: 0 auto;
		max-width: 996px;
		position: relative;
	}

	.site-title {
		display: block;
		width: 150px;
		min-height: 108px;
		border-right: 2px solid #f9c93a;
		margin: 10px 10px 10px 10px;
		padding: 25px 5px 10px;
	}

	.navigation a {
		color: #081E3F;
	}

	.navigation a:hover {
		color: #B6862C;
		text-decoration: none;
	}

	.nav-menu li a {
		font-weight: 700;
		margin: 5px 0;
		text-transform: uppercase;
	}

	.navbar {
		margin: 15px auto 0;
		width: 100%;
		background: #f9c93a;
		border-radius: 0;
	}

	article {
		display: table-cell;
		vertical-align: top;
	}

	.entry-content,
	.entry-meta {
		margin: 0 auto;
		max-width: 100%;
		width: 100%;
	}

	.entry-content a {
		color: #f9c93a;
		text-decoration: none;
	}

	.entry-content a:hover {
		color: #f9c93a;
	}

	.site-footer {
		color: #ccc;
		text-align: center;
	}

	.site-content {
		padding: 0 20px 20px 20px;
		color: #fff;
	}

	.entry-content ul {
		list-style-type: none;
		padding-left: 12px;
	}

  .tab-heading {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #f9c93a;
  }

	.tab-heading>h1 {
		background: none repeat scroll 0 0 #f9c93a;
		font-size: 17px;
		font-weight: 600;
		padding: 6px;
		text-transform: uppercase;
		position: absolute;
		margin-top: 148px;
	}

  #summary>div.tab-heading{
    background-image: url("../images/thumbnailTreasurySummary.png");
    background-position: left;
  }

  #sourcesAndUses>div.tab-heading{
    background-image: url("../images/thumbnailSourcesAndUses.png");
    background-position: left;
  }

  #liquidity>div.tab-heading{
    background-image: url("../images/thumbnailLiquidity.png");
    background-position: right;
  }

  #debtAdministration>div.tab-heading{
    background-image: url("../images/thumbnailDebtAdministration.png");
    background-position: left;
  }

  #invest>div.tab-heading{
    background-image: url("../images/thumbnailInvestmentManagement.jpg");
    background-position: center;
  }

  #botReports>div.tab-heading{
    background-image: url("../images/thumbnailBotReports.png");
    background-position: center;
  }

  #team>div.tab-heading{
    background-image: url("../images/thumbnailAboutUs.png");
    background-position: left;
  }

  #notices>div.tab-heading{
    background-image: url("../images/thumbnailNotices.png");
    background-position: center;
  }

	button::-moz-focus-inner {
		padding: 0;
		border: 0;
	}

  @media only screen and (min-width: 920px) {
    .nav-tabs>li {
      display:inline-block;
    }
    .tab-heading {
      border-top: 0;
      margin-top: 0;
    }
    .tab-heading>h1 {
      margin-top: 150px;
    }
	}
